body {
    background: #fff;
    padding-top: 50px;
}

.dropArea {
    padding-bottom: 5px;
    margin: 5px;
    text-align: center;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
    background: #fff;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.dropBorder {
    position: relative;
    top: 5px;
    height: 45px;
    margin: 5px; 
    border: #c3c3c3;
    border-width: 2px;	
    border-style: dashed;
}

.itemArea {
    background: #fff;
    overflow-y: auto;
    padding-top: 10px;
    min-height: 400px;
}

.accordion-inner {
    background: #fff;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.list-group-item pre{
    font-size: .8em;
}

.navbar {
    background-image: url("../assets/images/navigation-bar-background-green.jpg");
    background-repeat: repeat-x;
    color: #fff;
}

.navbar-inverse .navbar-brand {
     color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > .open > a:focus {
    opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
}
